<main class="main">
    <h2>Lista de Estudiantes</h2>

    {{#if usuario.length}}
        {{#each usuario}}
            <div class="vacante">

                <div class="caja">
                    <p class="nombre">{{nombre}}</p>
                </div>
                <div class="caja">
                    <p class="nombre">{{email}}</p>
                </div>
                <div class="caja">
                    <p class="nombre">{{celular}}</p>
                </div>
                {{!-- <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="nombre contrato">{{contrato}}</p>
                </div> --}}
                <div class="caja centrar-vertical">
                    <a href="/revisar-perfil-empresa/{{_id}}" class="btn btn-verde">Contactar</a>
                </div>

            </div> 
        {{/each}}
    {{else}}
        <p>No hay Estudiantes</p>
    {{/if}}
     
</main>